/* 	HTML Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

/* 	Site Styling */

* {
	display: block;
	transition: box-shadow 0.15s, background 0.15s, top 0.15s, height 0.25s;
}

title {
    display: none;
}

body {
	background-color: #eff1f3;
	font-size: 10pt;
	padding: 2em;
}

nav {
	margin-top: -2em;
	margin-left: -2em;
	margin-right: -2em;
    margin-bottom: 2em;
    padding: 2em;
    background: white;
    height: 47px;
    display: flex;
}

nav > * {
	display: inline-flex;
}

logo {
	background-image:  url("./img/JSBitArray_logowide.png");
	background-repeat: no-repeat;
    background-size: contain;
	width: 235px;
	height: 100%;
    flex: auto;
}

nav > a {
    text-decoration: none;
    font-family: system-ui, sans-serif;
    font-size: 14px;
    letter-spacing: 0.025em;
    font-weight: 600;
    padding: 0.75em 1em;
    margin-right: 4px;
    color: hsl(210deg 14% 36%);
    background: #ffffff;
    border: 1px solid #eef0f2;
}

nav > a:hover {
	background: #f0db4f;
    border: 1px solid #ebd01e;
}

nav > a:active {
	background: hsl(210deg 14% 86%);
    border: 1px solid hsl(210deg 14% 79%);
    color: #323330;
}

nav svg {
    margin-top: 2px;
    margin-right: 0.4em;
}

h1 {
	font-family: system-ui, sans-serif;
	font-size: 3em;
	font-weight: 100;
	margin-bottom: 0.5em;
	color: #025259;
}

h2 {
    width: 100%;
	font-family: system-ui, sans-serif;
	font-size: 2em;
}

h3 {
    width: 100%;
	font-family: system-ui, sans-serif;
	font-size: 1.2em;
	font-weight: 700;
    margin-top: 1.5em;
	margin-bottom: 0.5em;
}

h4 {
    font-family: system-ui, sans-serif;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 0.75em;
}

totaltime {
    float: right;
    height: 0px;
    margin: -1em;
}

totalTime > div {
    background: #4b4c48;
    border-bottom-left-radius: 1em;
    padding: 0.5em 0.75em 0.5em 1.25em;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 600;
}

div {
    font-family: "Consolas", sans-serif;
	white-space: pre;
}

benchmarks {
	display: inline-block;
    height: 85%;
    margin-right: 0.5em;
    vertical-align: top;
}

benchmark {
	display: inline-block;
	vertical-align: top;
	background: #f9fafb;
	width: auto;
	height: 340px;
	border: 1px solid #d9d9d9;
	padding: 1em;
	margin: 0.5em;
}

validation {
    display: inline-block;
    margin-right: 1em;
    vertical-align: top;
    height: 85%;
}

test {
    width: 70px;
	height: 65%;
    margin-right: 1px;
    display: inline-block;
}

label {
	font-family: system-ui, sans-serif;
	font-size: 1.0em;
    font-weight: 600;
    padding: 0.25em 0.5em;
    background: #4b4c48;
   	color: white;
    margin-bottom: 0.5em;
}

time {
	font-family: "Consolas", sans-serif;
	font-size: 1em;
	color: gray;
    padding: 0em 0.5em;
}

bar {
	display: flex;
	align-items: flex-end;
	background: #d6dbe0;
	width: 100%;
    height: 100%;
}

fill {
	width: 100%;
}

pass {
    font-size: 0.8em;
    color: #4ea34e;
    background: #a5eaa5;
    padding: 0.25em 0.75em;
    border-radius: 0.75em;
    margin-bottom: 1px;
    display: inline-block;
}

fail {
    font-size: 0.8em;
    color: #a34e4e;
    background: #eaa5a5a6;
    padding: 0.25em 0.75em;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    margin-bottom: 1px;
    display: inline-block;

}

.fail {
	color: #a34e4e;
    background: #efc2c3;
    margin-top: -1px;
    margin-left: -1.1em;
    margin-bottom: 1px;
    border-top-left-radius: 0em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0.75em;
    border-bottom-left-radius: 0em;
}

/* Teals */

.c0, .c1, .c2, .c3, .c4 {
	background: gray;
}

.teal .c0 {
	background-color: #025259;
}

.teal .c1 {
	background-color: #038F9C;
}

.teal .c2 {
	background-color: #04B2C2;
}

.teal .c3 {
	background-color: #04C9DB;
}

.teal .c4 {
	background-color: #039caa;
}

/* Oranges  */

.orange .c0 {
	background-color: #9C3803;
}

.orange .c1 {
	background-color: #C24604;
}

.orange .c2 {
	background-color: #D94F04;
}

.orange .c3 {
	background-color: #E85405;
}

.orange .c4 {
	background-color: #E65400;
}

/* Greens */

.green .c0 {
	background-color: #018003;
}

.green .c1 {
	background-color: #439C35;
}

.green .c2 {
	background-color: #53C242;
}

.green .c3 {
	background-color: #5EDB4B;
}

.green .c4 {
	background-color: #63E84F;
}

/* Reds  */

.red .c0 {
	background-color: #8C1F28;
}

.red .c1 {
	background-color: #9C222C;
}

.red .c2 {
	background-color: #C22B37;
}

.red .c3 {
	background-color: #DB303F;
}

.red .c3 {
	background-color: #FF4041;
}